<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="submitted.css">
    <title>register</title>
</head>
<body>
<header>
    <a class="logo">Data Sticks...</a>
    <nav>
       <ul class="nav_links">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="#">contact us</a></li>
            <li><a href="registered_data">Registered data</a> </li>
        </ul>
    </nav>
</header>
<div class="container">
    <div class="card">
        <h2>Thank you...!</h2>
        <h3>your data has been submitted</h3>
    </div>
</div>
</body>
<footer>Data sticks portal a complete open source all rights received </footer>
</html>